<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body><center>

    {% include 'menu.html' %}
    <main>
    {% block content %}{% endblock %}
    </main>
    
    <h1>Liste des livres de la base</h1>
        <p>{{ message | safe }}</p> <!-- Affichage du message -->
    <table style='width:80%;border: 1px solid;text-align:center'>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Année</th>
            <th>Genre</th>
            <th>ISBN</th>
            <th>Exemplaires disponibles</th>
            <th>Emprunt</th>
            <th>Suppression</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td><form action="/" method="post">
    <button type="submit" name="emprunt" value="{{ row[5] }}" class="btn-link">Emprunter</button></td>
            
            <td><form action="/suppression" method="post">
    <button type="submit" name="suppression" value="{{ row[5] }}" class="btn-link">Supprimer</button></td>

</form>
        </tr>
        {% endfor %}
    </table>
        </center>

</body>
</html>

