<nav>
  <ul>
    <li><a href="#"><center><img src="https://static.vecteezy.com/system/resources/previews/001/200/145/non_2x/books-png.png" height='50'></a></li>
    <li><a href="#">Enregistrer</a></li>
    <li><a href="#">Emprunter</a></li>
    <li><a href="#">Rechercher</a></li>
    <li><a href="#">Stocks</a></li>
    <li><a href="#">Utilisateurs</a></li>
  </ul>
</nav>

<style>
nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 14%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: purple;
    border-bottom: 2px solid purple;
}
</style>
