<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body><center>

    {% include 'menu.html' %}
    <main>
    {% block content %}{% endblock %}
    </main>
    
    <h1>Rechercher un livre dans la base</h1>
    <form action="rechercher_livre.php" method="get" style="max-width: 400px; margin: 0 auto;">
    <label for="critere">Rechercher par :</label>
    <select id="critere" name="critere" required style="width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
        <option value="nom">Nom</option>
        <option value="isbn">ISBN</option>
        <option value="auteur">Auteur</option>
        <option value="genre">Genre</option>
        <option value="annee">Année</option>
    </select>
    <br>

    <label for="valeur">Mot-clé :</label>
    <input type="text" id="valeur" name="valeur" required style="width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
    <br>

    <button type="submit" style="width: 100%; padding: 10px; background-color: #007BFF; color: white; border: none; border-radius: 4px; font-size: 16px; cursor: pointer;">Rechercher</button>
</form>

        </center>

</body>
</html>
